{% trans_default_domain 'FOSUserBundle' %}

{{ include("menu.html.twig") }}

<div class="col-md-8 login-sec">
    <h2 class="text-center">Modifier mon mot de passe</h2>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-login float-right"/>
    </div>
    {{ form_end(form) }}
</div>
