{% trans_default_domain 'FOSUserBundle' %}

<div class="login-info-box">
	<h2>Connexion</h2>
	<label id="label-register" for="log-reg-show">Connexion</label>
	<input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
</div>

<div class="register-info-box">
	<h2>Pas de compte?</h2>
	<label id="label-login" for="log-login-show">S'enregistrer</label>
	<input type="radio" name="active-log-panel" id="log-login-show">
</div>

<div class="white-panel">
	<div class="login-show">

		<h2>Connexion</h2>
		{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<form action="{{ path("fos_user_security_check") }}" method="post">
			{% if csrf_token %}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
			{% endif %}
			<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username"/>
			<input type="password" id="password" name="_password" required="required" autocomplete="current-password"/>
			<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
		</form>
		<a href="">Mot de passe oublié?</a>
	</div>
	<div class="register-show">
		<h2>Création de Compte</h2>
		{% trans_default_domain 'FOSUserBundle' %}

		{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
		{{ form_widget(form) }}
		<div>
			<input type="submit" value="{{ 'registration.submit'|trans }}"/>
		</div>
		{{ form_end(form) }}
		
	</div>
</div>
